/* font-family: 'Lato', sans-serif;
font-family: 'Red Hat Display', sans-serif; */

/* Global styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
}

.sub-title {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
}

.section__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.1em;
  margin-bottom: 50px;
}

.section__title-view-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  font-family: "Lato", sans-serif;
  color: #7b7b7b;
}

.link-arrow {
  padding-left: 16px;
}

/* tablete size */

@media (max-width: 1200px) {
  .container {
    padding: 0 34px;
  }
  .title {
    font-size: 35px;
    line-height: 50px;
  }
}

/* mobile size */
@media (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
  .title {
    font-size: 30px;
  }
  .blog__link-arrow {
    display: none;
  }
  .section__title {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 30px;
  }
}

/* Global styles End*/

/* section header */

.header-container {
  padding: 44px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
}

.logo {
  max-width: 142px;
  height: 12px;
}

.header__nav-link {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #000000;
}

.header__nav-item {
  border-bottom: 1px solid transparent;
}

.header__nav-item--active {
  border-bottom: 1px solid black;
  width: fit-content;
}

.header__nav-item:hover {
  border-bottom: 1px solid black;
}

.header__nav-icon {
  display: none;
}

/* tablete size */
@media (max-width: 1200px) {
  .header-container {
    /* max-width: 700px; */
    padding: 24px 34px;
  }
  .logo {
    max-width: 145px;
  }

  .header__nav-row {
    display: none;
  }
  .header__nav-icon {
    display: block;
  }
}

/* mobile size */
@media (max-width: 576px) {
  .header-container {
    padding: 24px 10px;
  }
}

/* section header End */

/* section hero  */

.hero {
  background-image: url(../img/bg-image.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 600px;
  padding-top: 100px;
  margin-bottom: 79px;
}

.hero-title {
  max-width: 770px;
}

/* tablete size */
@media (max-width: 1200px) {
  .hero {
    min-height: 320px;
    padding-top: 30px;
    margin-bottom: 70px;
  }
  .hero-title {
    max-width: 569px;
  }
}

/* mobile size */
@media (max-width: 576px) {
  .hero {
    min-height: 500px;
    padding-top: 70px;
  }
  .hero-title {
    max-width: 294px;
  }
}

/* section hero End */

/* section blog */

.blog {
  margin-bottom: 90px;
}

.blog__title {
  margin-bottom: 50px;
}

.blog__item {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.blog__item-reverse {
  flex-direction: row-reverse;
}

.blog__img {
  max-width: 570px;
}

.blog__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
}

.blog__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #7b7b7b;
  font-family: "Lato", sans-serif;
  margin-bottom: 30px;
}

.blog__item-title {
  font-weight: 500;
  font-size: 23px;
  line-height: 38px;
  font-family: "Red Hat Display", sans-serif;
  margin-bottom: 15px;
  max-width: 369px;
}

.blog__date {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #7b7b7b;
  font-family: "Lato", sans-serif;
  margin-bottom: 50px;
}

.blog__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #565656;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.05em;
}

/* tablete size */

@media (max-width: 1200px) {
  .blog {
    margin-bottom: 70px;
  }
  .blog__item {
    gap: 20px;
  }
  .blog__img {
    max-width: 340px;
  }
  .blog__content {
    max-width: 340px;
  }

  .blog__date {
    margin-bottom: 40px;
  }
}

/* mobile size */
@media (max-width: 576px) {
  .blog {
    max-width: 300px;
  }

  .blog__title {
    text-align: center;
  }
  .blog__img {
    max-width: 300px;
  }
  .blog__content {
    max-width: 300px;
  }

  .blog__item {
    flex-direction: column-reverse;
    gap: 30px;
  }
}

/* section blog End */

/* section post  */
.post {
  margin-bottom: 90px;
}

.post__row {
  display: flex;
  gap: 30px;
}

.post__item {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.post__img {
  max-width: 370px;
}

.post__content {
  max-width: 370px;
}

.post__description {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #7b7b7b;
  font-family: "Lato", sans-serif;
  margin-bottom: 25px;
}

.post__item-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 37px;
  font-family: "Red Hat Display", sans-serif;
  margin-bottom: 20px;
}

.post__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  font-family: "Lato", sans-serif;
  color: #565656;
}

/* tablete size */
@media (max-width: 1200px) {
  .post {
    margin-bottom: 70px;
  }
  .post__row {
    flex-direction: column;
    gap: 30px;
  }
  .post__item {
    flex-direction: row;
    gap: 20px;
  }
  .post-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
  .post__img {
    max-width: 340px;
  }
  .post__content {
    max-width: 340px;
  }
}

/* mobile size */
@media (max-width: 576px) {
  .post {
    max-width: 300px;
  }

  .post__img {
    max-width: 300px;
  }
  .post__content {
    max-width: 300px;
  }

  .post__item {
    flex-direction: column;
    gap: 25px;
  }

  .post__title-name {
    line-height: 36px;
    letter-spacing: 0.05em;
  }
}
/* section post End */

/* section popular */

.popular {
  margin-bottom: 39px;
}

.popular__row {
  display: flex;
  gap: 30px;
  margin-bottom: 54px;
}

.popular__img {
  max-width: 570px;
}

.popular__content {
  max-width: 570px;
}

.popular__description {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #7b7b7b;
  margin: 20px 0;
}

.popular__item-title {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 20px;
}

.popular__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #565656;
}

.popular__button {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}

.button {
  border: none;
  width: 180px;
  height: 46px;
  background: #565656;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.popular__info {
  display: flex;
  justify-content: space-between;
}

.popular__info-text {
  max-width: 470px;
}

.popular__info-title-text {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 38px;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 20px;
}

.popular__info-text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
}

.popular__info-text-par1 {
  margin-bottom: 41px;
}
.popular__info-link-arrow {
  padding: 0;
}

/* tablete size */
@media (max-width: 1200px) {
  .popular {
    margin-bottom: 70px;
  }

  .popular__row {
    gap: 20px;
    margin-bottom: 50px;
  }

  .popular__img {
    max-width: 340px;
  }

  .popular__content {
    max-width: 340px;
  }

  .popular__button {
    margin-bottom: 70px;
  }

  .popular__info {
    flex-direction: column;
    gap: 50px;
  }
  .popular__info-text {
    text-align: right;
  }

  .popular__info-text {
    max-width: 700px;
  }
}

@media (max-width: 576px) {
  .popular__row {
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
  }

  .popular__title-name {
    line-height: 36px;
    letter-spacing: 0.05em;
  }

  .popular__img {
    max-width: 300px;
  }

  .popular__content {
    max-width: 300px;
  }

  .popular__info {
    gap: 35px;
  }
  .popular__info-text {
    text-align: left;
  }
  .popular__info-text {
    max-width: 300px;
  }
}
/* section popular End */

/* footer */
.footer {
  background-color: #f4f4f4;
  padding: 70px 0 30px;
}

.fooetr__content {
  display: flex;
  justify-content: space-between;
}

.footer__content-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.footer__title {
  margin-bottom: 30px;
}

.footer__contact {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.1em;
  color: #000000;
  gap: 25px;
}

.footer__contact-tel {
  margin-bottom: 15px;
}

.footer__social-item {
  width: 50px;
  height: 50px;
  border: 1px solid #565656;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer__social-row {
  max-width: 269px;
  gap: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #000000;
}

.footer__social-item:hover {
  background-color: #565656;
}

.footer__social-item:hover path {
  fill: #ffffff;
}
/* footer End */
